<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <div class="container">
    <% include ./partials/header %>
    <div class="row">
      <div class="col-md-offset-2">
        <div class="col-md-3">
          <h2><%= score1 %></h2>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-3">
          <h2><%= score2 %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2">
       <div class="col-md-3">
          <h2><a href='/users/<%= username1 %>'> <%= username1 %></a></h2>
        </div>
        <div class="col-md-2"
        </div>
        <div class="col-md-3">
          <h2><a href= '/users/<%= username2 %>'><%= username2 %></a></h2>
        </div>
    </div>
  </div>
  <footer>
    <% include ./partials/footer %>
  </footer>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>

</html>