<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <div class="container">
      <% include ./partials/header %>
      <div class="row">
        <div class="col-md-12">
          <h1><%= title %></h1>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>
                  Match ID
                </th>
                <th>
                  Player 1
                </th>
                <th>
                  Score 1
                </th>
                <th>
                  Player 2
                </th>
                <th>
                  Score 2
                </th>
              </tr>
            </thead>
            <tbody>
              <% for (var i = 0; i < data.length; i++) { %>
                <tr>
                  <td><%= data[i].id %></td>
                  <td><%= data[i].username1 %></td>
                  <td><%= data[i].score1 %></td>
                  <td><%= data[i].username2 %></td>
                  <td><%= data[i].score2 %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <footer>
      <% include ./partials/footer %>
    </footer>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  </body>
</html>
