<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <div class="container">
      <% include ./partials/header %>
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center"><%= title %></h1>
          <hr class="small-hr">
          <table class="table table-condensed standings">
            <thead>
              <tr>
                <th>
                  MATCH ID
                </th>
                <th>
                  PLAYER 1
                </th>
                <th>

                </th>
                <th>

                </th>
                <th>
                  PLAYER 2
                </th>
              </tr>
            </thead>
            <tbody>
              <% for (var i = 0; i < data.length; i++) { %>
                <tr>
                  <td><%= data[i].id %></td>
                  <td><a href='/users/<%= data[i].username1 %>'><%= data[i].username1 %></a></td>
                  <td><%= data[i].score1 %></td>
                  <td><%= data[i].score2 %></td>
                  <td><a href='/users/<%= data[i].username2 %>'><%= data[i].username2 %></a></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <form class="text-center" role="form" action='/matches/new' method='get'>
        <button type="submit" class="btn btn-primary btn-lg">START A NEW MATCH</button>
      </form>
    </div>
    <footer>
      <% include ./partials/footer %>
    </footer>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  </body>
</html>
