<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <div class="container">
      <% include ./partials/header %>
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center"><%= title %></h1>
          <hr class="small-hr">
          <table class="table table-condensed standings">
            <thead>
              <tr>
                <th>
                  USER ID
                </th>
                <th>
                  NAME
                </th>
                <th>
                  USERNAME
                </th>
                <th>
                  EMAIL
                </th>
              </tr>
            </thead>
            <tbody>
              <% for (var i = 0; i < data.length; i++) { %>
                <tr>
                  <td><%= data[i].id %></td>
                  <td><%= data[i].first_name %> <%= data[i].last_name %></td>
                  <td><a href= '/users/<%= data[i].username %>'><%= data[i].username %></a></td>
                  <td><%= data[i].email %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
          <form class="text-center" role="form" action='/users/new' method='get'>
            <button type="submit" class="btn btn-primary btn-lg btn-block">CREATE A USERNAME TO TRACK YOUR STATS!</button>
          </form>
        </div>
      </div>
      <footer>
        <% include ./partials/footer %>
      </footer>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  </body>
</html>
