<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <div class="container">
    <% include ./partials/header %>
    <div class="row">
      <div class="col-md-12">
        <h1>User Profile: <%= username %></h1>
        <h3>Name: <%= first %> <%= last %></h3>
        <h3>Email: <%= email %></h3>
        <a href="<%= edit_link %>">Edit User Information</a>
      </div>
    </div>
  </div>
  <footer>
    <% include ./partials/footer %>
  </footer>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>

</html>
